<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MunchApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MunchForReddit">
        <!-- Main launcher activity that routes to appropriate screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.MunchForReddit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication activity with OAuth callback handling -->
        <activity
            android:name=".activity.AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="com.munch.reddit" />
                <data android:scheme="com.munch.reddit" />
            </intent-filter>
        </activity>

        <!-- Onboarding activities -->
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <activity
            android:name=".activity.SelectThemeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <!-- Main feed activity -->
        <activity
            android:name=".activity.FeedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <!-- Post detail activity with translucent theme for swipe-back -->
        <activity
            android:name=".activity.PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit.Translucent" />

        <!-- Media activities -->
        <activity
            android:name=".activity.ImagePreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit.Translucent" />

        <activity
            android:name=".activity.TableViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <activity
            android:name=".activity.YouTubePlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <activity
            android:name=".activity.VideoFeedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <!-- Search and settings activities -->
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MunchForReddit" />

    </application>

</manifest>
